.add-account__form-add-account {
    margin-top: 10px;
    padding: 15px 20%;
}
.form-input-password {
    position: relative;
    .eye {
        position: absolute;
        right: 7%;
        bottom: 25%;
        cursor: pointer;
    }
}
