.admin-layout {
    min-height: calc(100vh - 60px);
    width: 100%;
    // background: pink;

    &__header {
        position: sticky;
        top: 0;
        height: 58px;
        background: #349eff;
        // background: var(--main-color);
        // background: #113d68;
        // background: white;
        // box-shadow: 0px -10px 24px 1px rgba(57, 57, 57, 0.75);

        padding: 0 1.5rem;
        z-index: 1000;
    }

    &__content {
        background: rgb(239, 236, 236);
        padding: 1.5rem;
        // height: 1000px;
        // position: relative;

        &__container {
            height: 100%;
        }
    }

    &__footer {
        background: white;
        // -webkit-box-shadow: 0px -2px 12px -3px rgba(0, 0, 0, 0.75);
        // -moz-box-shadow: 0px -2px 12px -3px rgba(0, 0, 0, 0.75);
        // box-shadow: 0px -2px 12px -3px rgba(0, 0, 0, 0.75);
    }
}
