.quantity-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .quantity-button--left {
        width: 15%;
        background: rgb(217, 215, 215);

        &:hover {
            background: #2c3e50;
            color: #fff;
        }
    }
    .quantity-input--center {
        width: 30%;
        text-align: center;
    }
    .quantity-button--right {
        width: 15%;
        background: rgb(217, 215, 215);
        &:hover {
            background: #2c3e50;
            color: #fff;
        }
    }
}
