.admin-home {
    height: 100%;
    width: 100%;
    // background: purple;

    &__container {
        height: 100%;
    }
    &__content {
        height: 100%;

        &__card-stats {
            display: grid;
            grid-template-columns: calc(100% / 4 - 10px) calc(100% / 4 - 10px) calc(100% / 4 - 10px) calc(
                    100% / 4 - 10px
                );
            grid-template-rows: 120px 120px;
            column-gap: 10px;
            row-gap: 10px;
            .card-stat-item {
            }
        }
    }
}
