.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-size: 18px !important;
    font-family: var(--font-family) !important;
    padding: 0 !important;
    font-weight: bold !important;
    color: #2c3e50 !important;
}
.css-i4bv87-MuiSvgIcon-root {
    fill: #2c3e50 !important;
}
