.register-management {
    &__breadcrumb {
        grid-area: accounts-management__breadcrumb;
        background: white;
        border-radius: 5px;
        padding: 15px;
    }
    &__data-table {
        margin-top: 10px;
    }
}
