.admin-header {
    height: 100%;
    width: 100%;
    // background: var(--main-color);
    // background: #113d68;
    background: transparent;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__search-box {
            width: 30%;
            display: none;
        }

        &__right-box {
            font-size: 20px;
            color: #fff;
            // padding-left: 55%;
            display: flex;
            justify-content: flex-end;
            // justify-content: space-between;
            align-items: center;
            width: 70%;

            &__item {
                margin-left: 2rem;
            }
        }
    }
}
