.comment-list {
    &__stat {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        button {
            border: 2px solid #ccc;
            padding: 5px 5px;
            border-radius: 2px;

            &:hover {
                background: var(--main-color);
                color: #fff;
                border-color: var(--main-color);
            }
        }
    }
    &__items {
        // margin-top: 40px;
        // margin-left: 20px;
        // margin-right: 20px;
        margin: 40px 20px 0 20px;
    }

    &__item {
        margin-bottom: 20px;
        border-bottom: 2px solid #ccc;
        padding-bottom: 20px;
    }
}
