.garage-layout {
    min-height: calc(100vh - 60px);
    width: 100%;

    &__header {
        position: sticky;
        top: 0;
        height: 58px;
        background: #349eff;
        padding: 0 1.5rem;
        z-index: 1000;
    }

    &__content {
        background: #f5f7f9;
        padding: 1.5rem;

        &__container {
            height: 100%;
        }
    }

    &__footer {
        background: white;
    }
}
